:root{
    --primary-color:hsl(214, 84%, 56%);
    --text-color: hsl(0, 0%, 31%);
    --headings-color: hsl(0, 0%, 57%);
    --bg-color: hsl(0, 0%, 90%);
    --bg-card-color: hsl(0, 0%, 98%);
    --border-radius: .4em;
    --transition: color 0.1s, background-color 0.2s ease-in-out;
    --box-shadow: 5px 0 15px rgb(0 0 0 / .2);
    --skills-bar-length: 0%;
}

*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    /* outline: 1px solid  crimson; */
}

body{
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: var(--transition);
    font-family: sans-serif;
}
.container{
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    padding: 1rem 0;
}

body.dark{
    --text-color: hsl(0, 0%, 83%);
    --headings-color: hsl(0, 0%, 76%);
    --bg-color: hsl(0, 0%, 15%);
    --bg-card-color: hsl(0, 0%, 20%);
}

img{
    max-width: 100%;
    display: block;
    filter: drop-shadow(0 0 20px var(--primary-color));
    transition: var(--transition);
}

a{
    color: var(--primary-color);
    text-decoration: none;
}

nav ul li{
    display: inline-block;
}

nav ul li a{
    font-size: 18px;
    font-weight: bold;
    padding: 10px 15px;
}

li a.active, li a:hover{
    background-color: var(--text-color);
    transition: .5s;
}

.checkbtn{
    font-size: 2rem;
    float: right;
    cursor: pointer;
    right: 150px;
    display: none;
}

#check{
    display: none;
}

.switches{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
    background-color: var(--bg-card-color);
    transition: var(--transition);
    padding: .5rem 1rem;
}

.colors__item {
    width: 20px;
    height: 20px;
    border: 1px solid var(--text-color);
    background-color: var(--primary-color);
    transition: var(--transition);
    cursor: pointer;
}

.colors__item--blue {
    --primary-color:hsl(214, 84%, 56%);
}

.colors__item--green {
    --primary-color:hsl(150, 84%, 56%);
}

.colors__item--purple {
    --primary-color:hsl(276, 84%, 56%);
}

.colors__item--orange {
    --primary-color:hsl(46, 84%, 56%);
}

.about__picture{
    width: 320px;
}

.about__img{
    width: 100%;
    display: block;
}

.about{
    padding-top: 3rem;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    place-items: center;
    margin-bottom: 3em;
}

.about__title{
    font-size: 3em;
    margin-bottom: 1rem;
}

.about__subtitle{
    font-size: .9rem;
    opacity: .8;
}

span{
    color: var(--primary-color);
}

.card__link{
    margin-bottom: .5rem;
}

i{
    margin-right: .5remkk;
}

.about__paragraph, .card__text{
    line-height: 1.2;
    margin: 1.5em 0;
}

.toggle-theme{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: var(--transition);
    cursor: pointer;
}

.toggle-theme__icon{
    margin-right: 0.5em;
    color: var(--text-color);
    width: 20px;
}

.toggle-theme__text{
    font-size: 0.8rem;
}

.card{
    padding: 2em;
    background-color: var(--bg-card-color);
    border-radius: var(--border-radius);
    transition: var(--transition);
    box-shadow: var(--box-shadow);
}

.title{
    font-size: 3rem;
    text-align: center;
    color: var(--primary-color);
}

.skills__container, .project__container, .certificates__container{
    margin: 5em 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
}


.skills__card{
    width: 320px;
}

.skills__item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2em;
}

.skills__tech{
    font-size: .8rem;
    margin-right: 1.5em;
}

.skills__bar,
.skills__bar::after{
    position: relative;
    width: 175px;
    height: 8px;
    background-color: #888;
    border-radius: var(--border-radius);
    overflow: hidden;
}

.skills__bar::after{
    content: "";
    position: absolute;
    left: -175px;
    background-color: var(--primary-color);
    transition: var(--transition);
    animation: skills-bar-fill 2s ease-in-out forwards;
}

.skills__bar--10::after{
    --skills-bar-length: 10%;
}

.skills__bar--20::after{
    --skills-bar-length: 20%;
}

.skills__bar--30::after{
    --skills-bar-length: 30%;
}

.skills__bar--40::after{
    --skills-bar-length: 40%;
}

.skills__bar--50::after{
    --skills-bar-length: 50%;
}

.skills__bar--60::after{
    --skills-bar-length: 60%;
}

.skills__bar--70::after{
    --skills-bar-length: 70%;
}

.skills__bar--80::after{
    --skills-bar-length: 80%;
}

.skills__bar--90::after{
    --skills-bar-length: 90%;
}

@keyframes skills-bar-fill{
    to{
        transform: translate(var(--skills-bar-length));
    }
}

/* Certificates */

.certificates__item{
    min-width: 320px;
    max-width: 400px;
}

.certificates__image{
    width: 100%;
    display: flex;
    margin-bottom: 20px;
    justify-content: space-evenly;
}

.certificates__picture{
    width: 50px;
    margin-bottom: 2em;
}

.certificates__img{
    width: 100%;
    display: block;
}

/* Project */

.project__card{
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    align-items: center;
    justify-content: center;
}

.project__picture{
    width: 150px;
    height: 150px;
}

.project__img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
}

.project__texts{
    min-width: 300px;
    max-width: 700px;
}

.project__tags{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.buttons{
    display: flex;
    justify-content: space-between;
    width: 250px;
}

.button{
    display: block;
    width: 120px;
    line-height: 2.5;
    text-align: center;
    border-radius: var(--border-radius);
    transition: var(--transition);   
}

.button--primary{
    background-color: var(--primary-color);
    color: var(--bg-color);
}

.button--ghost{
    background-color: transparent;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

.colors{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20px;
    width: 100px;
}

/* Contacto */

.contacto__container{
    min-width: 300px;
    max-width: 60%;
    margin: 3rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1rem;
    align-items: center;
}

.contacto__elements{
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.social__links{
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
}

.contact__icon{
    font-size: 3rem;
}

@media (max-width:950px){
    nav ul li a{
        font-size: 16px;
        padding: 5px 10px;
    }
}

@media (max-width:850px){
    .checkbtn{
        display: block;
    }

    ul{
        position: fixed;
        width: 50%;
        height: 40%;
        background-color: var(--bg-card-color);
        top: 55px;
        right: -100%;
        text-align: center;
        transition: all .5s;
        border: 4px solid var(--primary-color);
        border-radius: var(--border-radius);
        box-shadow: var(--box-shadow);
    }

    nav ul li{
        display: block;
        margin: 30px 0;
        line-height: 10px;
    }

    nav ul li a{
        font-size: 16px;
    }

    li a:hover, li a.active{
        background-color: none;
    }

    #check:checked ~ ul{
        right: 0;
    }

    .title, .about__title{
        font-size: 2.5rem;
    }
}