:root{
    --primary-color:hsl(214, 84%, 56%);
    --text-color: hsl(0, 0%, 31%);
    --bg-color: hsl(0, 0%, 90%);
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background: var(--bg-color);
    color: var(--text-color);
}
